body {
	max-width: 50em;
	margin: 0 auto;
	background-color: #dddddd;
}

p {
	text-align: justify;
}
a {
	color: blue;
}
img {
	/* center images */
	display: block;
	margin: 0 auto;
}

header {
	text-align: center;
}
header > nav > ul > li {
	display: inline;
	padding: 1em;
}

ul {
}

#TOC {
	background-color: #cccccc;
	padding: 1em;
	margin: 1em;
}
