html {
	background-color: #eee;
}

body {
	max-width: 55em;
	margin: 0 auto;
	background-color: #fff;
}

header {
	background-color: #fff;
	margin-bottom: 1em;
}
footer {
	padding: 1em;
	text-align: center;
}
main {
	padding: 0 1em;
}

mjx-container {
	overflow-x: scroll;
	overflow-y: hidden;
}

p {
	text-align: justify;
}
a {
	color: #06f;
}
a:hover {
	background-color: #eee;
}
a.currentpage {
	color: black;
	text-decoration: none;
}
img {
	display: block; /* center */
	margin: 0 auto; /* center */
}

header {
	text-align: center;
}
header > nav > ul {
	margin: 0;
	padding: 0;
}
header > nav > ul > li {
	display: inline-block;
	padding: 1em;
	font-weight: bold;
}

#TOC {
	background-color: #eee;
	padding: 1em;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
}
thead {
	border-bottom: 1px solid black;
}
th, td {
	padding: 0.5em;
}

ul {
	margin: 0;
}

input[type="checkbox"] {
	width: 1.2em !important;
	height: 1.2em !important;
	/* transform: scale(1.5); */
}

ul.task-list li input[type="checkbox"] {
	margin: 0 0.6em 0.2em -1.8em;
}

pre {
	padding: 1em;
	background-color: #eee;
}
